.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 3;
}
.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  z-index: 3;
}
.header__link {
  color: #2f80ed;
  z-index: 3;
  text-decoration: none;
}
.header__main-illustration {
  right: 0;
  bottom: 0;
  position: absolute;
  width: 765px;
  height: 608px;
  z-index: 2;
}
.header__square-pic {
  background-color: #2f80ed;
  width: 568px;
  height: 568px;
  right: 0;
  top: 64px;
  z-index: 1;
  position: absolute;
}
